@using Fortis.Model
@using Demo.Model.Templates.UserDefined;
@model RenderingModel<IContentImage, IContentImage>
@if (Model.RenderingItem != null)
{
	<div class="gutter genericContent">@Model.RenderingItem.Image</div>
}